<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Access denied</title>

	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!--  Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
	</head>
	
	<body>
		<div class="container">
			<h2>Toegang geweigerd</h2>
			<hr>
			<p>
			Hoi.
			<p>
			We hebben er alle begrip voor dat je bij tijd en wijle een verkeerde link aanklikt of gewoon jeuk hebt om achter de coulissen te willen scheumen.
			Dit vinden we op zich niet erg, maar we voelen ons desalniettemin genoodzaakt om een muur als deze op te trekken.
			<p>
			Om toch een kijkje te nemen adviseren wij je, als je meer wachtwoorden weet, om uit te loggen en in te loggen met een gebruikersnaam waar de gewenste
			privileges aan toegekend zijn. Anders kun je gewoon naar de <a th:href="@{/adressenboek/}">homepage</a>.
			<p>
			Toude le doqui.
		
		</div>
	
	</body>
</html>