<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Adressenboek</title>

	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!--  Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
	</head>
	
	<body>
		<div class="container">
			<h1>Robert's adressenboek</h1>
			<hr>
			<p>
			<table>
				<tr>
					<td>Logged in as: <b><font color="#cc0033"><span th:text="${loginUser}"></span></font></b>
					<td width="100" />
					<td><a th:href="@{/adressenboek/login/password/{username}(username=${loginUser})}" class="btn btn-info btn-sm">Wachtwoord wijzigen</a></td>
				</tr>
			</table>
			<hr>
			<div th:if="${isReader} == true">
				<h3 class="table-dark">Reader zone</h3>
				<hr>
				<a th:href="@{/adressenboek/query/?page=1}" class="btn btn-dark mb-3">
					Adressenlijst
				</a>
				<a th:href="@{/adressenboek/query/zoekPersonen}" class="btn btn-light mb-3">
					Zoek Personen
				</a>
				<hr>
			</div>			
			<div th:if="${isUser} == true">
				<h3 class="table-dark">User zone</h3>
				<hr>
				<a th:href="@{/adressenboek/personen/}" class="btn btn-success mb-3">
					Gegevens Personen
				</a>
				<p>
				<a th:href="@{/adressenboek/adressen/}" class="btn btn-primary mb-3">
					Gegevens Adressen
				</a>
				</p>
				<hr>
			</div>
			<div th:if="${isAdmin} == true">
				<h3 class="table-dark">Admin zone</h3>
				<hr>
				<a th:href="@{/adressenboek/users/}" class="btn btn-warning mb-3">
					Gegevens Gebruikers
				</a>
				<p>
				<hr>
			</div>
			<p>
			<form action="#" th:action="@{/logout}" method="POST">
				<input type="submit" class="btn btn-danger" value="Logout" />
			</form>
			<p>
			<hr>
			<p>
			&copy; <i>2019 Commer & Quell</i>
		</div>
	</body>
</html>