<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Adressenboek</title>

	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!--  Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
	</head>
	
	<body>
		<div class="container">
			<h1>Robert's adressenboek</h1>
			<hr>
			<!-- 
			<p>Logged in as: <b><div sec:authentication="username"></div></b>
			<hr>
 			-->
 			<h3>Reader Zone</h3>
			<a th:href="@{/adressenboek/query/}" class="btn btn-dark mb-3">
				Adressenlijst
			</a>
			<hr>
			<div sec:authorize="hasRole('USER')">
				<h3>User zone</h3>
				<hr>
				<a th:href="@{/adressenboek/personen/}" class="btn btn-success mb-3">
					Gegevens Personen
				</a>
				<p>
				<a th:href="@{/adressenboek/adressen/}" class="btn btn-primary mb-3">
					Gegevens Adressen
				</a>
				</p>
				<hr>
			</div>
			<p>
			<form action="#" th:action="@{/logout}" method="POST">
				<input type="submit" class="btn btn-danger" value="Logout" />
			</form>
			<p>
			<hr>
			<p>
			&copy; <i>2019 Commer & Quell</i>
		</div>
	</body>
</html>