<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"></html>

	<head>
		<title>Wijzigen wachtwoord</title>

	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!--  Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
	</head>
	
	<body>
	<div class="container">
		<h2 th:text="'Wijzigen wachtwoord voor ' + ${passwordHolder.username}" />
		<hr>
		<div th:if="${passwordHolder.errorMessage} != null" class="alert alert-danger" >
			<h3><span th:text="'Fout: ' + ${passwordHolder.errorMessage}" /></h3>
		</div>
		<form action="#" th:action="@{/adressenboek/login/password/change}" th:object="${passwordHolder}" method="POST">
			<input type="hidden" th:field="*{username}">
			<!-- 
				 Authenticatie nog uitpluizen 
			
			<input type="password" th:field="*{oldPassword}" placeholder="Oud wachtwoord" class="form-control mb-4 col-4">
			-->
			<input type="password" th:field="*{newPassword}" placeholder="Nieuw wachtwoord" class="form-control mb-4 col-4">
			<input type="password" th:field="*{newPasswordAgain}" placeholder="Nieuw Wachtwoord (opnieuw)" class="form-control mb-4 col-4">
			<button type="submit" class="btn btn-info col-2">Wijzigen</button>
		</form>

	`	<p>
		<a th:href="@{/adressenboek/}" class="btn btn-link mb-3">Terug naar homepage</a>
	
	</div>
</body>