<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Query op personen</title>

	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!--  Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
	</head>
	
	<body>
		<div class="container">
			
			<h2>Lijst van personen met adressen</h2>
			<hr>
			<div th:if="${anyoneFound} == false" class="alert alert-warning" >
				<h3>Niemand gevonden met deze zoekcriteria</h3>
			</div>
			<div th:if="${anyoneFound} == true">
				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th>Voornaam</th>
							<th align="center">Voorv.</th>
							<th>Achternaam</th>
							<th>Straat</th>
							<th>Huisnr</th>
							<th>Postcode</th>
							<th>Woonplaats</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="iemand : ${personen}">
							<td th:text="${iemand.voornaam}" />
							<td align="center" th:text="${iemand.voorvoegsel}" />
							<td th:text="${iemand.achternaam}" />
							<td th:if="${iemand.persoonAdres} != null" th:text="${iemand.persoonAdres.adres.straat}" />
							<td th:if="${iemand.persoonAdres} != null" th:text="${iemand.persoonAdres.adres.huisnr + ' ' + iemand.persoonAdres.adres.huisnrToev}" />
							<td th:if="${iemand.persoonAdres} != null" th:text="${iemand.persoonAdres.adres.postcode}" />
							<td th:if="${iemand.persoonAdres} != null">
								<span th:text="${iemand.persoonAdres.adres.plaats}" />
							    <span th:if="${iemand.persoonAdres.adres.landafk} != null">
		 				    		<span th:unless="${iemand.persoonAdres.adres.landafk} == 'NL'" th:text="' (' + ${iemand.persoonAdres.adres.landafk} + ')'" />
						    	</span>
							</td>
							<td th:if="${iemand.persoonAdres} == null" colspan="4" />
							<td><a th:href="@{/adressenboek/query/details/{id}(id=${iemand.id})}" class="btn btn-outline-danger">Details</a></td>
						</tr>
						
					</tbody>
				</table>
			</div>
			<hr>
			<a th:href="@{/adressenboek/query/zoekPersonen}" class="btn btn-link mb-3">
				Opnieuw zoeken
			</a>
			<hr>
			<p>
			<table align="center">
				<tr>
					<td align="left" width="60px"><a th:if="${currPage} > 2" th:href="@{/adressenboek/query/gevondenPersonen?page=1&achternaam={achternaam}&voornaam={voornaam}(achternaam=${achternaam}, voornaam=${voornaam})}">1</a></td>
					<td><a th:if="${prevPage} >= 0" th:href="@{/adressenboek/query/gevondenPersonen?page={prevPage}&achternaam={achternaam}&voornaam={voornaam}(prevPage=${prevPage}, achternaam=${achternaam}, voornaam=${voornaam})}">Vorige</a></td>
					<td align="center" width="120px" th:text="${currPage}" />
					<td><a th:if="${nextPage} >= 0" th:href="@{/adressenboek/query/gevondenPersonen?page={nextPage}&achternaam={achternaam}&voornaam={voornaam}(nextPage=${nextPage}, achternaam=${achternaam}, voornaam=${voornaam})}">Volgende</a></td>
					<td align="right" width="60px"><a th:if="${currPage} < ${pageCount - 1}" th:href="@{/adressenboek/query/gevondenPersonen/?page={pages}&achternaam={achternaam}&voornaam={voornaam}(pages=${pageCount}, achternaam=${achternaam}, voornaam=${voornaam})}"><span th:text="${pageCount}" /></a></td>
				</tr>
			</table>
			
		</div>
	</body>
</html>