<!DOCTYPE HTML>

<html xmlns:th="http://www.thymeleaf.org"></html>

	<head>
		<title>Toevoegen/wijzigen persoon</title>

	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!--  Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
	</head>
	
	<body>
	<div class="container">
		<form action="#" th:action="@{/adressenboek/personen/savePersoon}" th:object="${persoon}" method="POST">
			<input type="hidden" th:field="*{id}">
			<input type="text" th:field="*{voornaam}" placeholder="Voornaam" class="form-control mb-4 col-4">
			<input type="text" th:field="*{voorvoegsel}" placeholder="Voorvoegsel" class="form-control mb-4 col-4">
			<input type="text" th:field="*{achternaam}" placeholder="Achternaam" class="form-control mb-4 col-4">
			<input type="text" th:field="*{gender}" placeholder="M/V" class="form-control mb-4 col-4">
			<input type="text" th:field="*{gebdat}" placeholder="Geboren d.d." class="form-control mb-4 col-4">
			<input type="text" th:field="*{mobielTelnr}" placeholder="Mobiel" class="form-control mb-4 col-4">
			<input type="text" th:field="*{email}" placeholder="E-mail" class="form-control mb-4 col-4">
			<button type="submit" class="btn btn-info col-2">Opslaan</button>
		</form>

	`	<p>
		<a th:href="@{/adressenboek/personen/}" class="btn btn-link btn-sm mb-3">Terug naar personenlijst</a>
	
	</div>
</body>