<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Personen met adressen</title>

	    <!-- Required meta tags -->
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<!--  Bootstrap CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" />
	</head>
	
	<body>
		<div class="container">
			<h2>Lijst van personen met adressen</h2>
			<hr>
			<table class="table table-bordered table-striped">
				<thead class="thead-dark">
					<tr>
						<th>Voornaam</th>
						<th align="center">Voorv.</th>
						<th>Achternaam</th>
						<th>Straat</th>
						<th>Huisnr</th>
						<th>Postcode</th>
						<th>Woonplaats</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="iemand : ${personen}">
						<td th:text="${iemand.voornaam}" />
						<td align="center" th:text="${iemand.voorvoegsel}" />
						<td th:text="${iemand.achternaam}" />
						<td th:text="${iemand.persoonAdres.adres.straat}" />
						<td th:text="${iemand.persoonAdres.adres.huisnr + ' ' + iemand.persoonAdres.adres.huisnrToev}" />
						<td th:text="${iemand.persoonAdres.adres.postcode}" />
						<td th:text="${iemand.persoonAdres.adres.plaats}" />
						<td><a th:href="@{/adressenboek/query/details/{id}(id=${iemand.id})}" class="btn btn-outline-danger">Details</a></td>
					</tr>
					
				</tbody>
			</table>
			<hr>
			<a th:href="@{/adressenboek/}" class="btn btn-link btn-sm mb-3">
				Homepage
			</a>
		</div>
	</body>
</html>